.toolbar-button {
    width: 75px;
    border-left-width: 0;
    -unity-text-align: middle-center;
}

.unity-foldout {
}

.unity-foldout--depth-0 {
}

.unity-radio-button #unity-checkmark {
    background-image: none;
}
